.head {
  width: 90%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  color: white;
}
.padding-t{
  padding-bottom: 114px;
}
.head-icon-left {
  width: 51px;
  height: 42px;
  background: url(../image/05.png) no-repeat;
  zoom: 0.6;
}

.head-icon-right {
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50px;
  border: 2px solid #fff;
}

.head-bottom-border {
  border: 1px solid white;
}

.main {
  width: 353px;
  height: 206px;
  background: url(../image/14.png) no-repeat;
  zoom: 0.7;
}
.main-logo-1 {
  width: 91px;
  height: 83px;
  /* display: inline-block; */
  position: absolute;
  left: 137px;
  top: 35px;
  background: url(../image/15.png) no-repeat;
}
.main-logo {
  margin-top: 37px;
}

.main-width {
  width: 85%;
  margin-top: 0.5rem;
}

.main-font {
  bottom: 12px;
  left: 93px;
  font-size: 43px;
}

.main-topping {
  padding-top: 0.5rem;
}

.main-profession-left span {
  margin-right: 39px;
}

.main-profession-left span:nth-child(4) {
  letter-spacing: 1px;
  margin-right: 36px;
}

.main-profession-bottom {
  padding-bottom: 0.5rem;
}

.main-day-bottom-border {
  border-bottom: 1px solid #dedede;
}

.footer {
  background: rgba(41, 189, 224, 0.8);
  line-height: 4;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.footer a {
  width: 40%;
  border-radius: 10px;
}
