@import url(base.css);
@import url(reset.css);
.head-auto {
  width: 90%;
}
audio {
  /* z-index: 99999; */
  top: 38px;
  /* right: 56px; */
  position: fixed;
  right: -237px;
  /* visibility: hidden; */
  opacity: 0;
}
a {
  text-decoration: none;
}

.head-icon-left {
  margin-top: 6px;
  height: 20px;
  width: 24px;
}

.head-icon-left p {
  width: 20px;
  box-shadow: 2px 4px 0 1px white, 2px 10px 0 1px white, 2px 16px 0 1px white;
}

.head-icon-right {
  width: 3px;
  margin-top: 10px;
  margin-right: 9px;
  height: 24px;
  transform: rotate(45deg);
}

.head-icon-right::after {
  width: 24px;
  height: 3px;
  background-color: white;
  content: "";
  position: absolute;
  top: 11px;
  right: -10px;
}

.circle {
  width: 26px;
  height: 26px;
  border-radius: 100px;
}

.circle p {
  right: -32px;
  top: 40px;
  width: 13px;
  height: 15px;
  border: 96px solid transparent;
  border-left-color: #fff;
  border-radius: 30px;
  zoom: 0.09;
}

.triangle {
  top: 40px;
  left: 11px;
  border: 7px solid transparent;
  border-top-color: #b9e9f5;
}

.people {
  padding-left: 59px;
}

.main-auto {
  width: 90%;
}

.main-icon {
  width: 30%;
  margin-top: 5%;
}

.main-padding {
  padding-bottom: 129px;
  margin-top: 85px;
}

.people-line-height {
  line-height: 16vw;
}

.people-line-height2 {
  line-height: 6vw;
}

.main-icon-bottom {
  margin-top: 10px;
  visibility: hidden;
}

.main-icon:hover .main-icon-bottom {
  visibility: visible;
}

.main-icon-bottom li {
  list-style-type: none;
  background-color: #fff;
}

.main-icon-botto1 {
  width: 6vw;
  height: 5vw;
  background: url(../image/01.png) no-repeat;
  background-size: 70% 70%;
  background-position: 35% 49%;
}

.main-icon-botto2 {
  width: 6vw;
  height: 5vw;
  background: url(../image/02.png) no-repeat;
  background-size: 75% 75%;
  background-position: 41% 51%;
}

.main-icon-botto3 {
  width: 6vw;
  height: 5vw;
  background: url(../image/03.png) no-repeat;
  background-size: 75% 75%;
  background-position: 54% 42%;
}

.main-icon-botto4 {
  width: 6vw;
  height: 5vw;
  background: url(../image/04.png) no-repeat;
  background-size: 71% 71%;
  background-position: 43% 45%;
}

.footer {
  width: 100%;
  line-height: 6;
}

.footer-bottom {
  width: 85vw;
  line-height: 4;
}
