.head-auto{
    width:90%;
}
.head-icon-left
{
    margin-top: 6px;
    height: 20px;
    width: 24px;
    p{
    width: 20px;
    box-shadow: 2px 4px 0 1px white, 2px 10px 0 1px white, 2px 16px 0 1px white;
    }
}
.head-icon-right 
{
    width: 3px;
    margin-top: 10px;
    margin-right: 9px;
    height: 24px;
    transform: rotate(45deg);
}
.head-icon-right::after
{
    width: 24px;
    height: 3px;
    background-color: white;
    content: "";
    position: absolute;
    top: 11px;
    right: -10px;
}
.circle{
    width: 26px;
    height: 26px;
    border-radius: 100px;
}
.circle p {
    right: -32px;
    top: 40px;
    width: 13px;
    height: 15px;
    border: 96px solid transparent;
    border-left-color: #fff;
    border-radius: 30px;
    zoom: 0.09;
}
.triangle{
    top: 40px;
    left: 11px;
    border: 7px solid transparent;
    border-top-color: #b9e9f5;
}
.people{
    padding-left: 59px;
}